.login-container, .login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  background-color: #ffffff;
}
.login-container {
  margin: 5em auto;
  padding: 1em 0;
  box-shadow: 3px 1.5px 3px 1.5px #cccccc;
}
.login-container form {
  margin: 1em auto;
}

.login-container h1 {
  font-size: 2.8rem;
  font-family: 'Satisfy', cursive;
  margin: .5em auto;
}

.login-container form input {
  outline: 0;
  border: 1px solid #aaa;
  background-color: #eee;
  width: 80%;
  padding: .5em 0;
  margin: .5em 0;
  text-align: center;
}

.login-container form button {
  outline: 0;
  border: none;
  background-color: rgb(9, 124, 139);
  color: white;
  width: 80%;
  padding: .5em 0;
  margin: .5em 0;
  cursor: pointer;
}