.post-container {
  display: flex;
  flex-direction: column;
  margin: .5em;
  background-color: #ffffff;
}

.post-container .post-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}

.post-container > img {
  width: 100%;
}

.post-header .display-pic {
  width: 50px;
  border-radius: 50%;
  margin: 0 .5em;
}

.post-header span {
  font-weight: bold;
}

.like-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: .5em 0;
  width: 100%;
  margin-left: 1em;

}

.like-container .like-controls {
  margin-bottom: .5em;
}
.like-controls .like-control {
  cursor: pointer;
}
