.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5em;
}

.post-container .post-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}

.post-container > img {
  width: 100%;
}

.post-header .display-pic {
  width: 50px;
  border-radius: 50%;
  margin: 0 .5em;
}

.post-header span {
  font-weight: bold;
}